# This is an example .env file. Copy this file to .env and fill in the values.

# The database URL for your PostgreSQL database. This should be in the format:
# postgres://username:password@host:port/database_name
POSTGRES_URL=